<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="bin front left corner protector.STL"/>
  <volume firstid="0" lastid="12041">
   <metadata type="volume" key="name" value="bin front left corner protector.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="bin front left corner protector.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="15.5"/>
   <metadata type="volume" key="source_offset_y" value="20.229999780654907"/>
   <metadata type="volume" key="source_offset_z" value="50"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="2" instances_count="1">
  <metadata type="object" key="name" value="bin front right corner protector.STL"/>
  <volume firstid="0" lastid="12037">
   <metadata type="volume" key="name" value="bin front right corner protector.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="bin front right corner protector.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="25.700000762939453"/>
   <metadata type="volume" key="source_offset_y" value="20.229999780654907"/>
   <metadata type="volume" key="source_offset_z" value="50"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="3" instances_count="1">
  <metadata type="object" key="name" value="bin rear left corner protector.STL"/>
  <volume firstid="0" lastid="12037">
   <metadata type="volume" key="name" value="bin rear left corner protector.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="bin rear left corner protector.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="25.700000762939453"/>
   <metadata type="volume" key="source_offset_y" value="20.229999780654907"/>
   <metadata type="volume" key="source_offset_z" value="50"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="4" instances_count="1">
  <metadata type="object" key="name" value="bin rear right corner protector.STL"/>
  <volume firstid="0" lastid="12041">
   <metadata type="volume" key="name" value="bin rear right corner protector.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="bin rear right corner protector.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="15.5"/>
   <metadata type="volume" key="source_offset_y" value="20.229999780654907"/>
   <metadata type="volume" key="source_offset_z" value="50"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="5" instances_count="1">
  <metadata type="object" key="name" value="handle.STL"/>
  <volume firstid="0" lastid="3369">
   <metadata type="volume" key="name" value="handle.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="handle.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="218.5"/>
   <metadata type="volume" key="source_offset_y" value="25"/>
   <metadata type="volume" key="source_offset_z" value="7.5"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="6" instances_count="1">
  <metadata type="object" key="name" value="handle bracket left.STL"/>
  <volume firstid="0" lastid="2945">
   <metadata type="volume" key="name" value="handle bracket left.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 7.62939453125e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="handle bracket left.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="275.99999237060547"/>
   <metadata type="volume" key="source_offset_y" value="13"/>
   <metadata type="volume" key="source_offset_z" value="7"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="7" instances_count="1">
  <metadata type="object" key="name" value="handle bracket right.STL"/>
  <volume firstid="0" lastid="2945">
   <metadata type="volume" key="name" value="handle bracket right.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 7.62939453125e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="handle bracket right.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="234.99999237060547"/>
   <metadata type="volume" key="source_offset_y" value="13"/>
   <metadata type="volume" key="source_offset_z" value="7"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="8" instances_count="1">
  <metadata type="object" key="name" value="lable holder.STL"/>
  <volume firstid="0" lastid="16569">
   <metadata type="volume" key="name" value="lable holder.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="lable holder.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="218.5"/>
   <metadata type="volume" key="source_offset_y" value="9.7009859085083008"/>
   <metadata type="volume" key="source_offset_z" value="3.3664536476128268"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="9" instances_count="1">
  <metadata type="object" key="name" value="lock main left.STL"/>
  <volume firstid="0" lastid="2645">
   <metadata type="volume" key="name" value="lock main left.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 -1.9073486328125e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="lock main left.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="69.299997329711914"/>
   <metadata type="volume" key="source_offset_y" value="5.5499997138977051"/>
   <metadata type="volume" key="source_offset_z" value="308.10000610351562"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="10" instances_count="1">
  <metadata type="object" key="name" value="lock main right.STL"/>
  <volume firstid="0" lastid="2651">
   <metadata type="volume" key="name" value="lock main right.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 -1.9073486328125e-06 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="lock main right.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="69.299997329711914"/>
   <metadata type="volume" key="source_offset_y" value="5.5499997138977051"/>
   <metadata type="volume" key="source_offset_z" value="40.5"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="11" instances_count="1">
  <metadata type="object" key="name" value="lock part lid.STL"/>
  <volume firstid="0" lastid="2421">
   <metadata type="volume" key="name" value="lock part lid.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="lock part lid.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="78.5"/>
   <metadata type="volume" key="source_offset_y" value="7.4999998807907104"/>
   <metadata type="volume" key="source_offset_z" value="288.60000610351562"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
 <object id="12" instances_count="1">
  <metadata type="object" key="name" value="lock parts slider.STL"/>
  <volume firstid="0" lastid="1779">
   <metadata type="volume" key="name" value="lock parts slider.STL"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 1.9073486328125e-06 0 1 0 0 0 0 1 -1.52587890625e-05 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="lock parts slider.STL"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="62.649999618530273"/>
   <metadata type="volume" key="source_offset_y" value="5.75"/>
   <metadata type="volume" key="source_offset_z" value="292.59999084472656"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
</config>
